*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #252850;

}
.NavBar{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;

}

.Logo{
    color: white;
    font-size: 30px;

}
span{
    color: red;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;

}
nav ul li a:hover{
    color: red;
    transition: .3s;
}
.Am1{
    color: white;
    font-size: 30px;
    padding: 10px 20px;
    text-align: center;

}
.Am2{
    color: white;
    font-size: 20px;
    padding: 10px 20px;
}
.Am3{
    color: white;
    padding: 10px 20px;
    padding: 10px 20px;
}
.img1{
    alt: "Foto de LinkedIn";
    float: left;
    width: 300px;
    padding: 10px 20px;
}
.Objetivos{
    color: white;
    padding: 10px 20px;
}

.label{
    color: white;
    
    padding: 10px 20px;
    overflow: hidden;
    background-color: transparent;
}
.box{
    background-color: white;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    overflow: hidden;
}
.boxContent{
    background-color: white;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    overflow: hidden;
}



* {box-sizing:border-box}

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.imgCarrousel{
    height: 100%;
    width: 100%;
    fill: none;

}
.mySlides {
    display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.center{
   width: 100%;
   height: 50%;
   margin-left: auto;
   margin-right: auto;
   
}
.tableH{
    color: white;
    text-align: center;
}


input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}

.etiquetaForm{
    color: white;
    margin-left: 10px;
}

input[type=button] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

.camporTxt{
    height:200px;
    resize: none;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: none;
    background-color: none;
    padding: 20px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}    

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-whatsapp{
    background: #45a049;
    color: white;
}
.fa-instagram{
    background: #f09433;
    color: white;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
}


.container1{
    max-width: 1120px;
    width: 100%;
    background-color: white;
    
}

.card{
    width: 312px;
    background: white;
    border-radius: 8px;
}

.card .image-box{
    height: 200px;

}
.card .image-box{
    height: 100px;
    border-radius: 8px 8px 0 0;

}

.card .experience-details{
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding: 15px;
}

.card .experience-details img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.experience-details .nombreApp{
    color: white;
    font-size: 15px;
    font-weight: 500;

}
.experience-details .tecnologias{
    font-size: 12px;
    font-weight: 400;
    color:#04AA6D
    
}
.experience-details .fecha{
    font-size: 12px;
    font-weight: 400;
    color:#04AA6D
    
}
.experience-details .link{
    font-size: 12px;
    font-weight: 400;
    color: white;
}

